
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #1C3FAA !important;
    color: white;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: inherit;
    border-radius: .375rem;
    border-width: 1px;
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) !important; */
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
    padding: .5rem 2rem .5rem .75rem !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 1px;
    right: 10px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: inherit !important;
}
.select2-container {
    
    width: 100% !important;
}
.select2-container .select2-selection--single {
    
    height: initial !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    
    padding-left: initial !important;
}
.select2-search--dropdown {
    
    padding: 8px !important;
}
.select2-results__option {
    padding: 8px !important;
}